<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../assets/css/style.min.css">
    <title>Login</title>
</head>

<body>
    <div class="container-fluid">
        <div class="container">
            <div class="row logo">
                <div class="col-12 col-md-5 logo__banner">
                    <img src="../img/BlueSea.png">
                </div>
                <div class="col-12 col-md-7 logo__menu">
                    <ul>
                        <li><a href="">LOGIN OR REGISTER</a></li>
                        <li><a href="">WISH LIST <img class="cart" src="../img/heart with number.png"></a></li>
                        <li><a href="">SHOPPING CART <img class="cart" src="../img/cart with number.png"></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid content">
        <div class="container">
            <div class="row text-menu">
                <div class="col-12 col-md-10">
                    <nav class="navbar navbar-expand-md navbar-dark nav-lt">
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#demo">
                          <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="demo">
                            <ul class="navbar-nav">
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="" data-toggle="dropdown">HOME</a>
                                    <div class="dropdown-menu">
                                        <a class="dropdown-item" href="">hahahahahahahaha</a>
                                        <a class="dropdown-item" href="">hahahahahahahaha</a>
                                        <a class="dropdown-item" href="">hahahahahahahaha</a>
                                        <a class="dropdown-item" href="">hahahahahahahaha</a>
                                        <a class="dropdown-item" href="">hahahahahahahaha</a>
                                    </div>
                                </li>
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="" data-toggle="dropdown">PAGES</a>
                                    <div class="dropdown-menu">
                                        <a class="dropdown-item" href="">hohohoho</a>
                                        <a class="dropdown-item" href="">hohohoho</a>
                                        <a class="dropdown-item" href="">hohohoho</a>
                                        <a class="dropdown-item" href="">hohohoho</a>
                                        <a class="dropdown-item" href="">cà phê</a>
                                    </div>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">FASHION</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">LAPTOP</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">WATCHES</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">MENU</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">CONTACT</a>
                                </li>
                            </ul>
                        </div>
                    </nav>
                </div>
                <div class="col-12 col-md-2">
                    <a href=""><img src="../img/search_icon- Off.png"></a>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <img class="bg" src="../img/bg.png">
        <div class="text__login">
            <img class="text__login__logo" src="../img/LOGIN ON BLUESEA.png">
            <input type="text" placeholder="     Username">
            <input type="password" placeholder="     Password">
            <div class="text__login__text">
                <p class="text__login__text1"><a href="">Forget Username or Password ?</a></p>
                <p class="text__login__text2"><a href="">Not Registered ? </a><code>Sign Up Here</code></p>
            </div>
            <button>SUBMIT</button>
        </div>

        <div class="container box__late">
            <div class="row">
                <div class="col-12 col-md-2">
                    <p class="box__late__word">Subscribe To Our<br>Newsletter</p>
                </div>
                <div class="col-12 col-md-7">
                    <input type="text" placeholder="   Your Email" class="text-input">
                    <button class="btn-sub">SUBCCRIBE</button>
                </div>
                <div class="col-12 col-md-3">
                    <a href=""><img src="../img/visa.png"></a>
                    <a href=""><img src="../img/maestro.png"></a>
                    <a href=""><img src="../img/amex.png"></a>
                    <a href=""><img src="../img/mastercard.png"></a>
                    <a href=""><img src="../img/paypal.png"></a>
                    <a href=""><img src="../img/visa.png"></a>
                </div>
            </div>


        </div>

    </div>
    <div class="container-fluid fter">
        <div class="container">
            <div class="row">
                <div class="col-6 col-md-3">
                    <h3 class="word-1">Contact US</h3>
                    <div class="box-icon">
                        <img class="box-ic" src="../img/icon home (merged).png">
                        <p class="word-2">13/2 Street Name<br> Ankara 3000, 69696</p>
                    </div>
                    <div class="box-icon">
                        <img class="box-ic" src="../img/icon mobile (merged).png">
                        <p class="word-2">+91 123 456 789<br> +91 123 456 789</p>
                    </div>
                    <div class="box-icon">
                        <img class="box-ic" src="../img/icon mail (merged).png">
                        <p class="word-2">mail@miha.com<br>longlanh@outlook.com</p>
                    </div>

                </div>
                <div class="col-6 col-md-3">
                    <h3 class="word-1"> My Contact</h3>
                    <p class="word-2">> My Account</p>
                    <p class="word-2">> Old History</p>
                    <p class="word-2">> Wish List</p>
                    <p class="word-2">> Delivery Information</p>
                    <p class="word-2">> erms & Condition</p>
                </div>
                <div class="col-6 col-md-3">
                    <h3 class="word-1"> In Formaition</h3>
                    <p class="word-2">> My Account</p>
                    <p class="word-2">> Old History</p>
                    <p class="word-2">> Wish List</p>
                    <p class="word-2">> Delivery Information</p>
                    <p class="word-2">> erms & Condition</p>
                </div>
                <div class="col-6 col-md-3">
                    <h3 class="word-1"> Custormer Sercive</h3>
                    <p class="word-2">> My Account</p>
                    <p class="word-2">> Old History</p>
                    <p class="word-2">> Wish List</p>
                    <p class="word-2">> Delivery Information</p>
                    <p class="word-2">> erms & Condition</p>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid ft-2">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-6 ft-3">
                    <img class="ft-4" src="../img/facebook25.png">
                    <img class="ft-4" src="../img/google26.png">
                    <img class="ft-4" src="../img/pinterest13.png">
                    <img class="ft-4" src="../img/twitter16.png">
                    <img class="ft-4" src="../img/dribbble4.png">
                    <img class="ft-4" src="../img/dribbble4.png">
                </div>
                <div class="col-12 col-md-6">
                    <p class="word-3">Copyright 2015 baobinh.net All right reserved</p>
                </div>
            </div>

        </div>
    </div>
</body>

</html>