<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="test.css">
    <title>Test Demo</title>
</head>

<body>
    <header>
        <div class="container-fluid top-logo">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-md-8 phone">
                        <img class="phone-1" src="../img/test-1.png">
                        <p class="contact">CALL US: 00-1234 5678</p>
                    </div>
                    <div class="col-12 col-md-4 menu-top">
                        <ul>
                            <li><a href="">Login</a></li>
                            <li><a href="">Eng</a>
                                <ul>
                                    <li><a href="">Eng</a></li>
                                    <li><a href="">Jpy</a></li>
                                    <li><a href="">Fre</a></li>
                                    <li><a href="">Reg</a></li>
                                </ul>
                            </li>
                            <li><a href="">Usd</a>
                                <ul>
                                    <li><a href="">Usd</a></li>
                                    <li><a href="">Gpd</a></li>
                                    <li><a href="">Jpg</a></li>
                                    <li><a href="">Eur</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
        <div class="container">
            <div class="row header-1">
                <div class="col-12 col-md-2">
                    <img class="img-2" src="../img/test-2.png">
                </div>
                <div class="col-12 col-md-7">
                    <nav class="navbar navbar-expand-md navbar-light">
                        <button class="navbar-toggler icon-bt" type="button" data-toggle="collapse" data-target="#demo">
                          <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="demo">
                            <ul class="navbar-nav">
                                <li class="nav-item">
                                    <a class="nav-link" href="#">HOME</a>
                                </li>
                                <li class="nav-item women-1">
                                    <a class="nav-link" href="#">WOMEN</a>
                                    <div class="row dropdown-1">
                                        <div class="col-12 col-md-2 top-left">
                                            <h6>TOP</h6>
                                            <p><a href="">Shirts</a></p>
                                            <p><a href="">Bodysuit</a></p>
                                            <p><a href="">Blouse</a></p>
                                            <p><a href="">Neck</a></p>
                                            <p><a href="">Poplin To</a></p>
                                            <p><a href="">Two Tone Top</a></p>
                                        </div>
                                        <div class="col-12 col-md-2 top-between">
                                            <h6>BOTTOMS</h6>
                                            <p><a href="">Jeans</a></p>
                                            <p><a href="">Short</a></p>
                                            <p><a href="">Skirt</a></p>
                                            <p><a href="">Activewea</a></p>
                                            <p><a href="">Pant</a></p>
                                            <p><a href="">Legging</a></p>
                                        </div>
                                        <div class="col-12 col-md-2 top-right">
                                            <h6>DRESSES</h6>
                                            <p><a href="">Casual</a></p>
                                            <p><a href="">Forma</a></p>
                                            <p><a href="">Mini Sexy</a></p>
                                            <p><a href="">Bodycon</a></p>
                                            <p><a href="">Rompers</a></p>
                                            <p><a href="">Jumpsui</a></p>
                                        </div>
                                        <div class="col-12 col-md-6">
                                            <img class="test-5" src="../img/test-5.png">
                                        </div>
                                    </div>

                                </li>
                                <li class="nav-item women-2">
                                    <a class="nav-link" href="#">MEN</a>
                                    <div class="row dropdown-2">
                                        <div class="col-12 col-md-3 top-left-2">
                                            <h6>TOP</h6>
                                            <p><a href="">Shirt</a></p>
                                            <p><a href="">Polos</a></p>
                                            <p><a href="">Polos</a></p>
                                            <p><a href="">Blouses</a></p>
                                            <p><a href="">Shoes</a></p>
                                            <p><a href="">Poplin Top</a></p>
                                            <p><a href="">Sweatshirts</a></p>
                                            <p><a href="">Lightweigh</a></p>
                                            <p><a href="">Suit</a></p>
                                        </div>
                                        <div class="col-12 col-md-3 top-between-2">
                                            <h6>BOTTOMS</h6>
                                            <p><a href="">Jean</a></p>
                                            <p><a href="">Short</a></p>
                                            <p><a href="">Swim</a></p>
                                            <p><a href="">Socks</a></p>
                                            <p><a href="">Pants</a></p>
                                            <p><a href="">Coat</a></p>
                                            <p><a href="">Bags</a></p>
                                            <p><a href="">Sunglasess</a></p>
                                            <p><a href="">Shoes</a></p>
                                        </div>
                                        <div class="col-12 col-md-6">
                                            <img class="test-6" src="../img/test-6.png">
                                        </div>
                                    </div>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">SHOP</a>
                                </li>
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="" data-toggle="dropdown">BLOG</a>
                                    <div class="dropdown-menu">
                                        <a class="dropdown-item" href="">Blog Sidebar</a>
                                        <a class="dropdown-item" href="">Blog Categories</a>
                                        <a class="dropdown-item" href="">Blog Single Pos</a>
                                        <a class="dropdown-item" href="">Blog Archive</a>
                                        <a class="dropdown-item" href="">Blog Tags</a>
                                    </div>
                                </li>
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="" data-toggle="dropdown">PAGES</a>
                                    <div class="dropdown-menu">
                                        <a class="dropdown-item" href="">Typography</a>
                                        <a class="dropdown-item" href="">Inforgraphic</a>
                                        <a class="dropdown-item" href="">Our Store</a>
                                        <a class="dropdown-item" href="">Compare Page</a>
                                        <a class="dropdown-item" href="">Offline Page</a>
                                        <a class="dropdown-item" href="">Our Office</a>
                                        <a class="dropdown-item" href="">Offline Page</a>
                                        <a class="dropdown-item" href="">404 Page</a>
                                    </div>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">CONTACT</a>
                                </li>
                            </ul>
                        </div>
                    </nav>
                </div>
                <div class="col-12 col-md-3 final">

                    <div class="basket-1">
                        <a href=""><img class="test-3" src="../img/test-3.png"></a>
                        <div class="box-search">
                            <input class="input" type="text" placeholder="   Search...">
                            <a href=""><img src="../img/test-7.png"></a>
                        </div>
                    </div>
                    <div class="basket-2x">
                        <div class="basket-2">
                            <a href="">
                                <p>$109.00</p>
                            </a>
                            <img class="basket-3" src="../img/test-4.png"><span class="badge badge-danger badge-pill">2</span>
                        </div>
                        <div class="market">
                            <div class="shod">
                                <img class="test-8" src="../img/test-8.png">
                                <p class="text-1">Nullam Mauris Viverra</p>
                                <p class="text-2">$105.00</p>
                            </div>
                            <p class="text-3">x 1</p>
                            <img class="test-9" src="../img/test-9.png">
                            <div class="shod">
                                <img class="test-8" src="../img/test-10.png">
                                <p class="text-1">Phasellus Dictum Just</p>
                                <p class="text-2">$105.00</p>
                            </div>
                            <p class="text-3">x 1</p>
                            <img class="test-9" src="../img/test-9.png">
                            <div class="text-4">
                                <p class="text-5">Shipping:</p>
                                <p class="text-6">$0.00</p>
                            </div>
                            <div class="text-4">
                                <p class="text-5">Shuptotal:</p>
                                <p class="text-6">$222.00</p>
                            </div>
                            <button type="button" class="btn btn-light check">CHECK OUT</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <main>
        <div id="myCarousel" class="carousel slide" data-ride="carousel">
            <ul class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
            </ul>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img class="test-11" src="../img/test-11.png">
                    <div class="carousel-caption">
                        <button type="button" class="btn btn-outline-danger btnn">SHOP NOW</button>
                    </div>
                </div>
                <div class="carousel-item">
                    <img class="test-11" src="../img/test-12.png">
                    <div class="carousel-caption">
                        <button type="button" class="btn btn-outline-danger btn-1">SHOP NOW</button>
                    </div>
                </div>
            </div>
            <a class="carousel-control-prev" href="#myCarousel" data-slide="prev">
                <span class="carousel-control-prev-icon"></span>
            </a>
            <a class="carousel-control-next" href="#myCarousel" data-slide="next">
                <span class="carousel-control-next-icon"></span>
            </a>
        </div>
        <div class="container">
            <button onclick="document.getElementById('id01').style.display='block'" style="width:auto;">CLick here</button>

            <div id="id01" class="modal">

                <form class="modal-content animate">
                    <div class="imgcontainer">
                        <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">&times;</span>

                    </div>
                    <div class="container">
                        <img class="test-55" src="../img/test-55.png">
                        <div class="text-off-1">
                            <p class="text-off-2">Sign Up Our Newsletter & Get Discount</p>
                            <p class="text-off-2"> 30% Off For Next Purchase!</p>
                            <input class="input-3" type="text" placeholder="    Enter your email...">
                        </div>
                        <a href=""><img class="test-in4" src="../img/test-45.png"></a>
                        <a href=""><img class="test-in4" src="../img/test-46.png"></a>
                        <a href=""><img class="test-in4" src="../img/test-47.png"></a>
                        <a href=""><img class="test-in4" src="../img/test-48.png"></a>
                        <a href=""><img class="test-in4" src="../img/test-45.png"></a>
                        <label>
                <input type="checkbox" checked="checked" name="remember"> Don’t show this popup again
              </label>
                    </div>
                </form>
            </div>
            <div class="row content-main">
                <div class="col-12 col-md-4">
                    <a href=""><img class="test-13" src="../img/test-13.png"></a>
                </div>
                <div class="col-12 col-md-4">
                    <a href=""><img class="test-13" src="../img/test-14.png"></a>
                </div>
                <div class="col-12 col-md-4">
                    <a href=""><img class="test-13" src="../img/test-15.png"></a>
                </div>
            </div>
            <div class="between-3">
                <h3 class="text-7">NEW ARRIVALS</h3>
                <p>Updated every day with new styles, shop all our latest arrival</p>
            </div>

        </div>
        <div class="container slide-img">
            <div id="demo" class="carousel slide" data-ride="carousel">
                <ul class="carousel-indicators">
                    <li data-target="#demo" data-slide-to="0" class="active"></li>
                    <li data-target="#demo" data-slide-to="1"></li>
                </ul>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <a href=""><img class="slide-img-11" src="../img/test-19.png">
                            <div class="btn-2">
                                <p>ADD TO CARD</p>
                            </div>
                        </a>
                        <a href=""><img class="slide-img-11" src="../img/test-16.png">
                            <div class="btn-3">
                                <p>ADD TO CARD</p>
                            </div>
                        </a>
                        <a href=""><img class="slide-img-11" src="../img/test-17.png">
                            <div class="btn-4">
                                <p>ADD TO CARD</p>
                            </div>
                        </a>
                        <a href=""><img class="slide-img-11" src="../img/test-18.png">
                            <div class="btn-5">
                                <p>ADD TO CARD</p>
                            </div>
                        </a>
                    </div>
                    <div class="carousel-item">
                        <a href=""><img class="slide-img-11" src="../img/test-19.png">
                            <div class="btn-2">
                                <p>ADD TO CARD</p>
                            </div>
                        </a>
                        <a href=""><img class="slide-img-11" src="../img/test-16.png">
                            <div class="btn-3">
                                <p>ADD TO CARD</p>
                            </div>
                        </a>
                        <a href=""><img class="slide-img-11" src="../img/test-17.png">
                            <div class="btn-4">
                                <p>ADD TO CARD</p>
                            </div>
                        </a>
                        <a href=""><img class="slide-img-11" src="../img/test-18.png">
                            <div class="btn-5">
                                <p>ADD TO CARD</p>
                            </div>
                        </a>
                    </div>
                </div>
                <a class="carousel-control-prev" href="#demo" data-slide="prev">
                    <span class="carousel-control-prev-icon"></span>
                </a>
                <a class="carousel-control-next" href="#demo" data-slide="next">
                    <span class="carousel-control-next-icon"></span>
                </a>

            </div>


        </div>
        <div class="container-fluid main-2">
            <img class="test-21" src="../img/test-21.png">
            <div class="container">
                <div class="row insert-on">
                    <div class="col-12 col-md-4">
                        <a href=""><img class="test-22" src="../img/test-22.png"></a>
                    </div>
                    <div class="col-12 col-md-4">
                        <a href=""><img class="test-22" src="../img/test-23.png"></a>
                    </div>
                    <div class="col-12 col-md-4">
                        <a href=""><img class="test-22" src="../img/test-24.png"></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row img-2x">
                <div class="col-6 col-md-4">
                    <img class="test-27" src="../img/test-27.png">
                    <div class="img-2xx">
                        <img src="../img/test-25.png">
                        <img class="img-test-26" src="../img/test-26.png">
                    </div>
                </div>
                <div class="col-6 col-md-4">
                    <img class="test-28" src="../img/test-28.png">
                </div>
                <div class="col-12 col-md-4">
                    <img class="test-27" src="../img/test-29.png">
                </div>
            </div>
            <div class="text-8">
                <h3>FEATURED PRODUCTS</h3>
                <p>Our collection, styled our way, hover on a look you like to shop the items featur</p>
                <div class="btn-hv">
                    <a class="btn-hv-1" href="">WOMEN</a>
                    <a class="btn-hv-1" href="">MEN</a>
                    <a class="btn-hv-1" href="">ACCESSORIES</a>

                </div>

            </div>
        </div>
        <div class="container clothes">
            <div class="row">
                <div class="col-12 col-md-3">
                    <a href=""><img class="hver-img" src="../img/test-30.png"></a>
                </div>
                <div class="col-12 col-md-3">
                    <a href=""><img class="hver-img" src="../img/test-31.png"></a>

                </div>
                <div class="col-12 col-md-3">
                    <a href=""><img class="hver-img" src="../img/test-32.png"></a>

                </div>
                <div class="col-12 col-md-3">
                    <a href=""><img class="hver-img" src="../img/test-33.png"></a>

                </div>
            </div>
        </div>
        <div class="container-fluid lass-content">
            <img class="test-34" src="../img/test-34.png">
            <div class="row fix-img">
                <div class="col-12 col-md-4">
                    <img class="test-35" src="../img/test-35.png">
                </div>
                <div class="col-12 col-md-4">
                    <img class="test-35" src="../img/test-36.png">
                </div>
                <div class="col-12 col-md-4">
                    <img class="test-35" src="../img/test-37.png">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row icon-1">
                <div class="col-6 col-md-2">
                    <img src="../img/test-38.png">
                </div>
                <div class="col-6 col-md-2">
                    <img src="../img/test-39.png">
                </div>
                <div class="col-6 col-md-2">
                    <img src="../img/test-40.png">
                </div>
                <div class="col-6 col-md-2">
                    <img src="../img/test-41.png">
                </div>
                <div class="col-6 col-md-2">
                    <img src="../img/test-42.png">
                </div>
                <div class="col-6 col-md-2">
                    <img src="../img/test-38.png">
                </div>
            </div>
        </div>
    </main>
    <footer>
        <div class="container-fluid ft">
            <div class="container ft-1">
                <div class="row">
                    <div class="col-6 col-md-3">
                        <h4 class="text-ft-1">MY ACCOUNT</h4>
                        <p><a href="">My History</a></p>
                        <p><a href="">My Orders</a></p>
                        <p><a href="">My Address</a></p>
                        <p><a href="">My Personal Info</a></p>
                        <p><a href="">My Vouchers</a></p>
                        <p><a href="">My Credit Slips</a></p>
                    </div>
                    <div class="col-6 col-md-3">
                        <h4 class="text-ft-1">INFORMATION</h4>
                        <p><a href="">Term Of Us</a></p>
                        <p><a href="">Search Terms</a></p>
                        <p><a href="">Shipping Guide</a></p>
                        <p><a href="">Privacy Policy</a></p>
                        <p><a href="">My Vouchers</a></p>
                        <p><a href="">Site Map</a></p>
                    </div>
                    <div class="col-6 col-md-3">
                        <h4 class="text-ft-1">USEFUL LINK</h4>
                        <p><a href="">Contact Us</a></p>
                        <p><a href="">Promotio</a></p>
                        <p><a href="">Fast Deliver</a></p>
                        <p><a href="">Latest Products</a></p>
                        <p><a href="">Custom Service</a></p>
                        <p><a href="">Return Services</a></p>
                    </div>
                    <div class="col-6 col-md-3">
                        <img src="../img/test-44.png">
                        <p><a href="">Lorem ipsum dolor amet, vestibulum adipiscing
                            elit. Aliquam mauris onctetur felis feugiat [...]</a></p>
                        <p><a href="">Add: 123 Fast Road, New York, Greater, NY 8JR, USA</a></p>
                        <p><a href="">Call Us: (00) 1234 5678 / 1234 5679</a></p>
                        <p><a href="">Email: Support@demo.com</a></p>
                        <p><a href="">Open: 9:00am - 10:00pm, everyday</a></p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-md-2">
                        <a href=""><img class="ft-5" src="../img/test-45.png"></a>
                        <a href=""><img class="ft-5" src="../img/test-46.png"></a>
                        <a href=""><img class="ft-5" src="../img/test-47.png"></a>
                        <a href=""><img class="ft-5" src="../img/test-48.png"></a>
                        <a href=""><img class="ft-5" src="../img/test-46.png"></a>
                    </div>
                    <div class="col-12 col-md-7 footer-1">
                        <p class="font-weight-bold sub">SUBSCRIBE</p>
                        <input class="inputt" type="text" placeholder="     Enter your mail...">
                        <img class="test-43" src="../img/test-43.png">
                    </div>
                    <div class="col-12 col-md-3">
                        <a href=""><img src="../img/test-50.png"></a>
                        <a href=""><img src="../img/test-51.png"></a>
                        <a href=""><img src="../img/test-52.png"></a>
                        <a href=""><img src="../img/test-53.png"></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid ft-end">
            <p class="ft-text-end">2017 All rights reserved. Design by <code>Joommasters.com</code> Power by <code>Prestashop.</code></p>
        </div>
    </footer>
    <script>
        var modal = document.getElementById('id01');
        window.onclick = function(event) {
            if (event.target == modal) {
                modal.style.display = "none";
            }
        }
    </script>
</body>

</html>